* {
  font-family: 'Eczar', serif;
  color: rgb(227, 227, 227);
  font-size: 25px;
}

.carousel-img {
  height: 400px;
  object-fit: cover;
}

.searchPG {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
} 

.searchInputDiv {
  margin: auto;
}

.main {
  color: whitesmoke;
}

.paragraph {
  font-size: larger;
}

.location {
  text-align: center;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content:space-between;
  font-size: 3vh;
}

.App {
  text-align: center;
}

.featured-img {
  display: block;
}

.featured-img img {
  object-fit: cover;
  height: 500px;
  width: 50px;
}

.location-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}