* {
  font-family: 'Eczar', serif;
  color: rgb(227, 227, 227);
  font-size: 18px;
}

.carousel-img {
  height: 400px;
  object-fit: cover;
}

.searchPG {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
} 

.searchInputDiv {
  margin: auto;
}

.paragraph {
  font-size: small;
  text-align: center;
  margin-top: 4.5vh;
}

.location {
  text-align: center;
  height: 100vh;
}

.featured-img {
  display: block;
}

.featured-img img {
  object-fit: cover;
  height: 500px;
  width: 50px;
}

.location-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.Top-title {
  font-size: 50px;
}

.creators {
  display: flex;
  justify-content: center;
  color: white;
}

.popover-header {
  background-color:#9A3939 ;
}

.list-group-item {
  color: #9A3939;
}